.x {
    background-color: #98a2b3;
    font-size: 14px !important;
    color: white !important;
    border-radius: 50%;
}
.check {
    background-color: #12b76a;
    font-size: 14px !important;
    color: white !important;
    border-radius: 50%;
}
